body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: rgb(160, 181, 181);
    padding: 5px
}

.form {
  
  padding: 10px;
  text-align: center;
  align-self: center;
}

.cardsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
  margin: 10px;
  border: solid #63627d;
  border-width: .5em;
  text-align: center;;
  box-shadow: 0 8px 16px 0 #424845
}

.artCards {
  border: solid #000000;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 #424845;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardImg {
  box-shadow: 8 8px 16px 0 #000000;
}

.navBar {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  color: black;
  padding: 1em;
}

.homeNav {
  padding: 10px;
}

.galleryNav {
  padding: 10px;
}

.apptNav {
  padding: 10px;
}

.searchbar {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: #0d8350;
}

.searchBar label{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchbar {
  border: none;
  padding-left: .5em;
  position:relative;
  height: 25px;
}

button {
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  border-radius: 1em;
  cursor: pointer;
}

button:hover, .btn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 12em 12em #919ab0 inset;;
}

.detailsArtist {
  color: rgb(82, 93, 104);
}

.detailsTitle {
  color: lightslategray;
}

.detailsText {
  color: rgb(141, 156, 172)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
